---
import MainLayout from '../layouts/MainLayout.astro';
import ManualTestSimulator from '../components/manual-test/ManualTestSimulator';
---

<MainLayout title="Manual Test Simulator">
  <main>
    <ManualTestSimulator client:load />
  </main>
</MainLayout>
